@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.custom-footer {
  background-color: #444;
  background-image: url('https://media.istockphoto.com/id/1382263110/vector/landscape-background-with-particles-terrain-pointillism-3d-vector-illustration-for-brochure.jpg?s=612x612&w=0&k=20&c=qHj6_64naskiMLG3XKdQ97yNQpCa5-Em3NVrtCqQRVE=');
  /* background-color:#89BDBC; */
  background-size: 100% 100vh;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px ;
  color: black;
  padding: 1rem;
  text-align: center;
  animation: fadeInUp 1s ease-out;
}

.custom-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.custom-footer-section {
  flex: 1;
  min-width: 200px;
  animation: fadeInUp 1s ease-out;
  -webkit-animation: fadeInUp 1s ease-out;
}

 .custom-footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 5rem);
  justify-content: center;
  align-items: center;
}
.custom-footer-Contact{
  background-color: #89BDBC;
  height: 5vh;
  width: 14vh;
  border-radius: 1.5vh;
}
.custom-footer-nav-item {
  display: grid;
  grid-template-columns: repeat(2, 7rem);
  justify-content: center;
  align-items: center;
  
}

.custom-footer-image {
  width: 20rem;
  height: 20rem;
  margin-top: -9vh;
}

.custom-footer-section h2 {
  animation: fadeInUp 1s ease-out;
}
.custom-footer-prgh{
  margin-top: -11vh !important;
  margin-left: 4vh !important;
}

.custom-footer-section p,
.custom-footer-section ul,
.custom-footer-section ul li {
  margin: 0.5rem 0;
  text-align: center;
  animation: fadeInUp 1s ease-out;
}



.custom-footer-section .custom-footer-social-links {
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.custom-footer-section ul li {
  display: inline-block;
}

.custom-footer-section ul li a {
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.custom-footer-section ul li a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.custom-footer-bottom {
  margin-top: 1rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  animation: fadeInUp 1s ease-out;
}
