
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button.btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


button.btn-outline-secondary {
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.btn-outline-secondary:hover {
    background-color: #343a40;
    color: #fff;
}


.card {
    animation: fadeIn 1s ease;
}
